{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <head>
    <title>Profile</title>
  <style>
        #signup-button{
          position: relative;
          border-radius: 20px;
          display: inline-block;
          padding: 10px 25px;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 13px;
          background-color: #fd5e19;
          overflow: hidden;
          transition: 0.2s;
        }
    </style>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
  </head>
<body>
<div class="form-group" id="signup-button">
  <a href="{% url 'login' %}" class="btn" onclick="log()" style="color: white; background-color: #fd5e14;" type="submit" id="header-links"> Logout </a>

</div>
<script>
  function log(){
  alert("You are going to logout");
  }
</script>
</body>
{% endblock %}